* {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

html { height: 100%; }

html, body { width: 100%; height: 100%; padding: 0; margin: 0 }

.clearfix, .cf { *zoom: 1; }
.clearfix:after, .cf:after { content: "\0020"; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; }

body {
	padding: 0;
	margin: 0;
	background: #f5f5f5;
	color: #222;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {font-weight: bold; letter-spacing: -1px}
h1 {font-size: 3em; letter-spacing: -2px}
h2 {font-size: 2.250em}
h3 {font-size: 2em; letter-spacing: 0}
h4 {font-size: 1.750em}
h5 {font-size: 1.500em}
h6 {font-size: 1.250em; text-transform: uppercase; letter-spacing: 2px}

b {
	font-weight: bold;
}

#wrap {
	margin: 0;
	padding: 0;
}

#container {
	min-height: 100%;
	position: relative;
	width: 960px;
	margin: 0 auto;
	height: 100%;
}

#head {
	padding: 10px 0;
	height: 48px;
}

#head .btn {
	text-align: center;
	float: left;
	padding: 10px;
	margin: 4px 0 0 10px;
	color: #FFF;
	background: #ddd;
	width: 20px;
	text-decoration: none;
	border-radius: 3px;
	border: 1px solid #ccc;
}

#head .btn:hover {
	background: #ccc;
}

#title {
	float: left;
}

#title h1 {
	padding: 0 5px;
}

/* #refresh-btn {
	float: left;
	display: block;
	width: 60px;
	height: 100%;
	padding: 8px 0;
	cursor: help;
}

#refresh-btn a {
	font-size: 2em;
	text-decoration: none;
	color: #444;
	padding: 0 8px;
	font-weight: bold;
} */

#content {
	display: block;
	width: 100%;
	padding-bottom: 10px;
}

.box {
	display: block;
	margin: 20px 0;
}

#dropzone {
	display: block;
	height: 250px;
	background: #d5d5d5;
	position: relative;
	border-radius: 10px;
}

#dropzone h3 {
	display: block;
	position: absolute;
	width: 100%;
	text-align: center;
	color: #222;
	margin-top: 115px;
}

#dropzone:hover, #dropzone:active {
	background: #222;
	box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5),
				inset 0 0 120px rgba(0, 0, 0, 0.9);
}

#dropzone:hover h3, #dropzone:active h3 {
	color: red;
}

#files {

}

#itemlist {
	margin: 10px 0;
}

#itemlist li {
	float: left;
	margin: 5px 10px 5px 0;
	padding: 5px;
}

#itemlist li a {
	text-decoration: none;
}

#itemlist:hover > li, #itemlist:active > li {
	opacity: 0.5;
	-webkit-filter: blur(1px);
}

#itemlist:hover > li a, #itemlist:active > li a {
	color: #222;
}

#itemlist:hover > li:hover, #itemlist:active > li:active {
	opacity: 1.0;
	-webkit-filter: blur(0px);
}

#itemlist li:hover {
	background: #222;
	border-radius: 3px;
}

#itemlist li:hover a {
	color: #f5f5f5;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
}

#chatbox {
	position: fixed;
	padding: 0;
	margin: 0;
	top: 0;
	right: 0;
	width: 20%;
	height: 100%;
	background: #222;
	color: #FFF;
	display: none;
}

#conversation {
	overflow-y: auto;
	padding: 15px;
	height: 85%;
}

#chatbox #controls {
	position: absolute;
	bottom: 0;
	background: #222;
	width: 100%;
	overflow: auto;
}

#controls > input {
	display: inline-block;
	padding: 5px;
	border-width: 1px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

#controls > input[type=text] {
	font-size: 2em;
}

#controls > input[type=button] {
	display: none;
}

@media (max-width : 960px) {
	html, body {
		font-size: 90%;
	}

	#container {
		width: 80%;
	}

	#chatbox {
		width: 40%;
	}
}