doctype 5
html(lang = "en")
	head
		title SURPRISE !
		link(rel='stylesheet', href='/stylesheets/jquery.meow.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		#wrap
			#container
				#head.clearfix
					#title
						h1 Drupload
					a#chatTgl(href='#').btn 💩
				#content.clearfix
					form.box#dropzone(action='/upload')
						.drop#dropFiles
							h3 ↓ Drop files ↓
				#files
					h6 Avalaible
					ul#itemlist.clearfix
						- if(content.length)
							- content.forEach(function(item){
								li
									a(href='/upload/' + item.name, target='_blank')= item.name
							- })
						- else {
							h6 No files added yet, drop them here
						- }
			#chatbox
				#conversation
				#controls
					input(type='text', id='data', placeholder='Chatbox')
					input(type='button', id='datasend', value='send')
	script(src="/socket.io/socket.io.js")
	script(src="/js/jquery.min.js")
	script(src="/js/jquery.meow.js")
	script(src="/js/jquery.dropzone.js")
	script(src="/js/script.js")
